.sidebarOptions {
  color: grey;
  cursor: pointer;
  display: flex;
  /* flex-direction: row; */
  align-items: center;
  height: 40px;
  transition: 200ms color ease-in;
}

.sidebarOptions:hover {
  color: white;
}

.sidebarOption__icon {
  padding: 0 10px;
}

.sidebarOptions p {
  margin-top: 10px;
  margin-left: 20px;
  font-size: 14px;
}
